@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// tailwindcss 延伸
@layer base {
  body,
  html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background-color: #fafafa;
  }
  body {
    font-family: PingFang TC, 微軟正黑體;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
  }
  button:focus,
  input:focus,
  select:focus {
    outline: none;
  }
}

@layer components {
  .bg-layout {
    background-image: url("https://frontend.f5ezcode.in/images/login.png");
  }
  .logo-hiskio {
    background-image: url("https://frontend.f5ezcode.in/images/logo-hiskio.svg");
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
  }
  .overlay-style {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .flex-set-center,
  .overlay-style {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-text {
    width: 100%;
    border-radius: 4px;
    --tw-bg-opacity: 1;
    background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(140, 140, 140, var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .default-btn,
  .default-solid-btn {
    display: flex;
    height: 40px;
    width: 200px;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
  }
  .default-solid-btn {
    border-radius: 4px;
    background-color: rgba(23, 143, 172, var(--tw-bg-opacity));
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }
  .border-hi-share-icon-gray {
    --tw-border-opacity: 1;
    border-color: rgba(226, 226, 226, var(--tw-border-opacity));
  }
  .bg-hi-input-gray {
    --tw-bg-opacity: 1;
    background-color: rgba(240, 240, 240, var(--tw-bg-opacity));
  }
  .shadow-package-card {
    --tw-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  }
  .fa-lg {
    font-size: 1.333333em;
    line-height: 0.75em;
  }
  .line-clamp-1,
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .line-clamp-2 {
    -webkit-line-clamp: 2;
  }
}

@variants hover {
  .bg-hi-courses-box {
    background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
  }
}
